

<%= form_for @user, html: { class: 'pure-form'} do |f| %>

                    <div id="form_register_three">
                            <h2 class="center"> Nuevo Usuario: </h2>
                            <%= f.text_field :first_name, placeholder: "Nombre" %>
                            <br>
                            <%= f.text_field :last_name, placeholder: "Apellidos" %>
                            <br>
                            <%= f.text_field :email, placeholder: "Email" %>
                            <br>
                            <br>
                            <%= f.text_field :username, placeholder: "Usuario" %>
                            <br>
                            <%= f.password_field :password, placeholder: "Password" %>
                            <br>
                            <div id="flash"> </div>
                            <br>
                    <%= f.submit 'Registrarse', class: 'pure-button', id: 'sign_in_button' %>
                    </div>
          <% end %> 



<style type="text/css">
          .center{
            text-align: center;
          }
          #flash{
            text-align: center;
          }
</style>

<script>
  $('#flash').html('<%= flash[:notice] %>');
</script>
