
<div class="table">
<table class="pure-table" border="10">
  <thead>
    <tr>
      <th> 
        PROGRAM LIST
      <div class="pure-button">    
      <%= link_to('ADD PROGRAMS', new_admin_program_path()) %> 
      </div>

      </th>
      <th> ACTIONS</th>
    </tr>
  </thead>

  <tbody>
     <%= content_tag_for :tr, @programs do |program| %>
        <td> ID: <%= program.id %> --- <%= link_to(program.name, admin_program_path(program)) %> </td>
        <td> <%= link_to('Edit', edit_admin_program_path(program)) %> 
			       <%= link_to('Delete', admin_program_path(program), method: :delete, data: {confirm: 'Are you sure?'}) %>
        </td>

     <% end %>

  </tbody>


  <thead>
     <tr>
      <th> 
      <div class="pure-button">    
      <%= link_to('ADD PROGRAMS', new_admin_program_path()) %> 
      </div>
      </th>
      <th></th>
     </tr>
  </thead>
     
</table> 
</div>

<br>
<br>