<div class="pure-form pure-form-aligned">
	
<h1>New Program</h1>


<%= form_for [:admin, @programs] do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>


	<%= f.label :picture %>
	<%= f.text_field :picture %>


	<%= f.label :genre %>
	<%= f.text_field :genre %>


	<%= f.label :website %>
	<%= f.text_field :website %>

	<%= f.label :time_start %>
	<%= f.number_field :time_start %>

	<br>


	<%= f.submit 'Save' %>

	<div class="pure-button">
	<%= link_to 'Cancel',  admin_programs_path %>
	</div>

<% end %>


</div>