<div>
	
<h1>New Program</h1>


<%= form_for [:admin, @programs] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :picture %>
	<%= f.text_field :picture %>
	<br>
	<%= f.label :genre %>
	<%= f.text_field :genre %>
	<br>
	<%= f.label :website %>
	<%= f.text_field :website %>
	<br>
	<%= f.label :time_start %>
	<%= f.number_field :time_start %>
	<br>
	<%= f.submit 'Save' %>
	<%= link_to 'Cancel',  admin_programs_path %>
<% end %>


</div>