
<table class="pure-table" id="final_table">
    <thead>
        <tr>
            <th></th>  
          <% @channels.each do |channel| %>

            <th>
              <div class="channel_header">
                <%= image_tag(channel.picture) %>
              </div>
            </th>

          <% end %>
            <th></th>  
        </tr>
    </thead>

    <tbody>

        <% (9..24).each do |hour| %>

        <tr>
            <th> <%= hour %>:00 </th>
 
            <% @channels.each do |channel| %>
             
                <td>
                    <% em = channel.episodes.find do |epi| %>  

                        <% if epi.showed_at && epi.showed_at.hour == hour %> 
                            <img src='/assets/<%= epi.program.picture %>'/> 
                        <% end %>    
                        
                    <% end %>

                </td>

            <% end %>
            <th> <%= hour %>:00 </th>
        </tr>

        <% end %>

    </tbody>

    <thead>
        <tr>
            <th></th>    
          <% @channels.each do |channel| %>

            <th class="channel_header">
              <div class="channel_header">
                <%= image_tag(channel.picture) %>
              </div>
            </th>

          <% end %>
            <th></th>    
        </tr>
    </thead>

</table>