<div id="buttons_selectors">


    <button class="button-success pure-button toggleButton" data-type="noticias">Noticias</button>

    <button class="button-error pure-button toggleButton" data-type="social">Social</button>
    <button class="button-warning pure-button toggleButton" data-type="concurso">Concursos</button>
    <button class="button-secondary pure-button toggleButton" data-type="corazon">Corazón</button>

    <button class="button-success pure-button toggleButton" data-type="reality">Realitys</button>
    <button class="button-error pure-button toggleButton" data-type="show">Shows</button>
    <button class="button-warning pure-button toggleButton" data-type="cocina">Cocina</button>
    <button class="button-secondary pure-button toggleButton" data-type="politica">Politica</button>

    <button class="button-success pure-button toggleButton" data-type="deportes">Deportes</button>
    <button class="button-error pure-button toggleButton"  data-type="documental">Documentales</button>
    <button class="button-warning pure-button toggleButton" data-type="cine">Cine</button>
    <button class="button-secondary pure-button toggleButton" data-type="serie">Series</button>
</div>

<br>







<table class="pure-table" id="final_table">
    <thead>
        <tr>
            <th></th>  
          <% @channels.each do |channel| %>

            <th>
              <div class="channel_header">
                <%= image_tag(channel.picture) %>
              </div>
            </th>

          <% end %>
            <th></th>  
        </tr>
    </thead>

    <tbody>

        <% (9..23).each do |hour| %>

        <tr id="<%= hour %>">
            <th> <%= hour %>:00 </th>
 
            <% @channels.each do |channel| %>
             
                <td>
                    <% em = channel.episodes.find do |epi| %>  
                        <% if epi.showed_at && epi.showed_at.hour == hour && @programs.include?(epi.program) %> 
                            <div id='<%= epi.id %>' class='<%= epi.program.genre %>'>
                                <img src='/assets/<%= epi.program.picture %>'/> 
                                
                            </div>
                        <% end %>    
                    <% end %>
                </td>

            <% end %>
            <th> <%= hour %>:00 </th>
        </tr>

        <% end %>

        <% (0..1).each do |hour| %>

        <tr id="<%= hour %>">
            <th> 0<%= hour %>:00 </th>
 
            <% @channels.each do |channel| %>
             
                <td>
                    <% em = channel.episodes.find do |epi| %>  
                        <% if epi.showed_at && epi.showed_at.hour == hour %> 
                            <div class='<%= epi.program.genre %>'>
                                <img src='/assets/<%= epi.program.picture %>'/> 
                            </div>
                        <% end %>    
                    <% end %>
                </td>

            <% end %>
            <th> 0<%= hour %>:00 </th>
        </tr>

        <% end %>

    </tbody>

    <thead>
        <tr>
            <th></th>    
          <% @channels.each do |channel| %>

            <th class="channel_header">
              <div class="channel_header">
                <%= image_tag(channel.picture) %>
              </div>
            </th>

          <% end %>
            <th></th>    
        </tr>
    </thead>

</table>

<br>
<br>

<div id="buttons_selectors">
    
    <button class="button-success pure-button toggleButton" data-type="noticias">Noticias</button>

    <button class="button-error pure-button toggleButton" data-type="social">Social</button>
    <button class="button-warning pure-button toggleButton" data-type="concurso">Concursos</button>
    <button class="button-secondary pure-button toggleButton" data-type="corazon">Corazón</button>

    <button class="button-success pure-button toggleButton" data-type="reality">Realitys</button>
    <button class="button-error pure-button toggleButton" data-type="show">Shows</button>
    <button class="button-warning pure-button toggleButton" data-type="cocina">Cocina</button>
    <button class="button-secondary pure-button toggleButton" data-type="politica">Politica</button>

    <button class="button-success pure-button toggleButton" data-type="deportes">Deportes</button>
    <button class="button-error pure-button toggleButton"  data-type="documental">Documentales</button>
    <button class="button-warning pure-button toggleButton" data-type="cine">Cine</button>
    <button class="button-secondary pure-button toggleButton" data-type="serie">Series</button>
</div>

<br>
<br>

