
<div id="channel_collection">
  <span id="collection_title">
    Select Channel: 
  </span>
  <span id="col_select">
  <%= collection_select :channels, :id, @channel, :name, :name %>
  </span>
  <button type="submit" class="pure-button btn"> Search </button>
  <hr>
</div>



<% @channel.each do |chan| %>
  <div id='<%= chan.name.downcase.delete(' ') %>' class='channels_tables'>

    <table class="pure-table" id="table-xl" border="10">
    

      <thead>
        <tr>
          <th> DATE</th>
          <th> PROGRAM </th>
          <th> TIME </th>
        </tr>
      </thead>

      <tbody>
        
          <% chan.episodes.order(showed_at: :asc).each do |epi| %>
          <% if chan.id == epi.channel_id %>
  
            <tr>      
              <td>
                <%= epi.showed_at.day %>-<%= epi.showed_at.month %>-<%= epi.showed_at.year %>
              </td>

              <td>
                <%= image_tag(epi.program.picture) %>
              </td>

              <td> 
                <%= epi.showed_at.hour %>:00
              </td>

            </tr>

          <% end %>
        <% end %>

        <tr>  
          <th></th> 
          <th></th>
        </tr>
      
      </tbody>
    </table> 

  </div>

<% end %>

