<!DOCTYPE html>
<html>
<head>
  <title>Jastv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Jas TV</a>

        <ul>
            <li class="pure-menu-selected"> <a href="<%= admin_channels_path %>"> Channels </a></li>
            <li><a href="<%= admin_programs_path %>"> Programs </a></li>
            <li><a href="http://localhost:3000/index.html"> Episodes </a></li>
        </ul>
    </div>
</div>
</header>
<%= yield %>

</body>
</html>
