<!DOCTYPE html>
<html>
<head>
  <title>Jastv</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
<header>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed" id="head_bar">
        <%= link_to "Jas TV", root_path, method: :get, class: "pure-menu-heading" %>


        <ul>
        <% if current_user.try(:admin?) %>
            <li class=<%= current_page?(admin_channels_path) ? 'pure-menu-selected' : '' %>>
              <%= link_to "Channels", admin_channels_path %>
            </li>
            <li class=<%= current_page?(admin_programs_path) ? 'pure-menu-selected' : '' %>>
              <%= link_to "Programs", admin_programs_path %>
            </li>
            <li class=<%= current_page?(channels_path) ? 'pure-menu-selected' : 'admin_controls' %>>
              <%= link_to "Episodes", index_path, method: :get %>              
            </li>
        <% end %>

        <% if logged_in? %>
          <li id="username_header">
            <%= link_to current_user.username, sessions_path %>
          </li>
          <li>
            <%= link_to "Log out", session_path("current"), method: :delete %>
          </li>
        <% else %>
          <li class=<%= current_page?(new_session_path) ? 'pure-menu-selected' : '' %>>
            <%= link_to "Registrarse", new_user_path %>
          </li>
          <li class=<%= current_page?(new_session_path) ? 'pure-menu-selected' : '' %>>
            <%= link_to "Iniciar Sesión", new_session_path %>
          </li>
        <% end %>
        </ul>
    </div>
</div>
</header>
<%= yield %>

</body>
</html>
