<div>
	
<h1>Edit Channels</h1>


<%= form_for [:admin, @channel_edit] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :picture %>
	<%= f.text_field :picture %>
	<br>
	<%= f.submit 'Save' %>
	<%= link_to 'Cancel',  admin_channels_path %>
<% end %>


</div>